<div>
	<app-dice-animator #dice [color]="color"></app-dice-animator>
</div>
<div style="margin-top:10px;">
	<select #colorSelect (change)="onColorChange($event.target.value)">
		<option value="0">White</option>
		<option value="384">Red</option>
		<option value="320">Orange</option>
		<option value="256">Yellow</option>
		<option value="192">Green</option>
		<option value="128">Blue</option>
		<option value="64">Purple</option>
	</select>
</div>
<div style="margin-top:10px">
	<button (click)="Roll()" style="width:64px;">Roll</button>
</div>