<div>
	<app-dice-animator #dice [color]="color"></app-dice-animator>
</div>
<div style="margin-top:10px;">
	<select #colorSelect (change)="onColorChange($event.target.value)">
		<option value="{{Color.white}}" class="white">White</option>
		<option value="{{Color.red}}" class="red">Red</option>
		<option value="{{Color.orange}}" class="orange">Orange</option>
		<option value="{{Color.yellow}}" class="yellow">Yellow</option>
		<option value="{{Color.green}}" class="green">Green</option>
		<option value="{{Color.blue}}" class="blue">Blue</option>
		<option value="{{Color.purple}}" class="purple">Purple</option>
	</select>
</div>
<div style="margin-top:10px">
	<button (click)="Roll()" style="width:64px;">Roll</button>
</div>